<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/inge</property>
    <property name="hibernate.connection.username">postgres</property>
    <property name="hibernate.connection.password">postgres</property>
    <property name="hibernate.query.factory_class">org.hibernate.hql.internal.classic.ClassicQueryTranslatorFactory</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <mapping resource="mapeo/Calificacion.hbm.xml"/>
    <mapping resource="mapeo/Publicacion.hbm.xml"/>
    <mapping resource="mapeo/DatosUsuario.hbm.xml"/>
    <mapping resource="mapeo/Estado.hbm.xml"/>
    <mapping resource="mapeo/Usuario.hbm.xml"/>
    <mapping resource="mapeo/Compra.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
